.info-popup {
   font-size: 11px;
   font-family: 'National Park', Arial, Helvetica, sans-serif;
   line-height: 11px;
   text-align: center;
}

.info-popup .mapboxgl-popup-content {
    padding: 4px;
}

.info-popup .mapboxgl-popup-tip {
    border-top-width: 6px;
    border-right-width: 4px;
    border-left-width: 4px;
}

