**/.DS_Store
data/geojson_work_files/harriman_bearmt_added.geojson
data/geojson_work_files/harriman_bearmt_complete.geojson
data/geojson_work_files/harriman_bearmt_purged.geojson
data/geojson_work_files/harriman_bearmt_split.geojson
data/trails.js
data/ways.js
pyvenv.cfg
lib
bin