.info-popup {
   font-size: 11px;
   line-height: 11px;
   text-align: center;
}

.info-popup.hide {
    visibility: hidden;
}

.info-popup .mapboxgl-popup-content {
    padding: 4px;
}

.info-popup .mapboxgl-popup-tip {
    border-top-width: 6px;
    border-right-width: 4px;
    border-left-width: 4px;
}

.map-info {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 8px 24px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.map-info .about-btn {
    font-size: 20px;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50%; 
    background: #ffffff;
    box-shadow: 0 0 0 2px #0000001a;
}

.map-info .about-btn:hover {
    background-color: #f2f2f2;
}


@media (orientation: portrait) {

    .map-info {
        top: 0;
        left: 0;
        bottom: unset;
        right: unset;
        margin: 8px 0 0 8px;
        flex-direction: row;
        align-items: center;
    }

    .map-info .about-btn {
        order: 2;
    }

}
